@import "../../Sass/variabale_mixin";

.LeftSidebar{
    height: 100%;
    border-right: 2px solid $blue;
   
    @include font(1.2rem,600,$black)
}
.profile{

        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: end;
        padding: 10px 0 10px 20px;
        cursor: pointer;

    img{
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }
    span{
        @include font(1rem,600,#000)
    }
}

.Content{
    width:calc(100% - 30px);
    background: $Wgreen;
    margin: 30px auto;
    border-radius: 30px;
    overflow: hidden;
    

    

}
.Title{
    height: 40px;
    display: flex;
    align-items: center;
    margin-right: 20px;
   


 h4{
    @include font(1.1rem,500,#000)
 }       
}
.item{
    width: 100% !important;
    display: flex !important;
    justify-content: start !important;
   
    padding: 10px !important;
    border-top: 1px solid $Wblack !important;
    
    img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 20px;
    }
    div{
        margin-right: 5px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    h4{
        @include font(.9rem,600,#000);

    }
    span{
        @include font(.8rem,400,rgba(0,0,0,.55))
    }
}
.MenuItem{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    span{
        cursor: pointer;
    }
  
    .icon{
    color: #cc0c0c;
    margin-right: 5px;
    cursor: pointer;
}

    label{
        display: flex;
        align-items: center;
        .icon{
            color: green;
            margin-right: 5px;
        }
    }
}
.user{
    display: flex;
    flex-direction: column;

    .name{
        @include font(1rem,500,#000);
    }
    .username{
        @include font(.8rem,400,#000);
        align-self: flex-end;
        
    }

}
