@import "../../Sass/variabale_mixin";
.layout{
    height: 100vh;
    display: flex;
    width: 100%;
    overflow: hidden;

  
}
.RightSidebare{
    width: 18%;
    
}
.MainPart{
    flex: 1;
    overflow-y: auto;

}
.LeftSidebar{
    width: 25%;

}

